header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .date-time {
    margin: 0 0 0 20px;
    font-size: 22px;
    font-family: 700;
  }
}

.btn {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.wrapper-left,
.wrapper-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

mat-form-field {
  margin-top: 18px;
}
