<div class="wrapper-team">
  <div id="team-member-selected">
    <app-team-member-selected
      [teamFormGroup]="teamFormGroup"
    ></app-team-member-selected>
  </div>
  <div id="team-member-show">
    <app-team-member-show
      [teamFormGroup]="teamFormGroup"
    ></app-team-member-show>
  </div>
</div>
<div class="wrapper-btn-footer">
  <button [routerLink]="'general'" mat-raised-button matStepperPrevious>
    Back
  </button>
  <button
    mat-raised-button
    mat-button
    color="primary"
    matStepperNext
    (click)="handleShowError()"
  >
    Next
  </button>
</div>
