mat-step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper-footer {
  justify-self: flex-end;
}
.wrapper-step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
